@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
h1{
    margin-top:50px;
    margin-bottom:50px;
    font-size:60px;
    text-align: center;
}

.business-description{
    text-align: center;
}

#profile-section {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:8rem;
}

.leads{
    
}

.profile{
    display:inline-block;
}

.profile img{
    overflow:hidden;
    object-fit: cover;
    width:300px;
    height:300px;
    border:#E5A4A4 solid 5px;
    border-radius:70%;
}

.name {
    color:#DFB6B6;
    text-align: center;
    margin-top:10px;
    width:300px;
    font-size:30px;
    font-weight:600;
}

.description{
    color:#DFB6B6;
    text-align: center;
    margin-top:10px;
    width:300px;
    font-size:20px;
    font-weight:300;
}