@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
.card-image { 
    overflow:hidden;
    border-radius: 20px;
    border: #E5A4A4 5px solid;
}

.card-image-products {
    transition: 500ms;
    opacity:70%;
    object-fit: cover;
    width: 90%;
    height: 250px;
}

.card-image-products:hover {
    transition: 500ms;
    opacity:100%;
}

.card-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.card-container h1{
  margin: 6px;
  font-size:20px;
  font-weight:bold;
}

.card-container p{
  margin: 5px 0 0 6px;
  font-size:16px;
  font-weight:medium;
}