main {
    padding: 40px;
}

.ordering-method-buttons {
    display: flex;
    flex-direction: column;
}

.ordering-button {
    margin: 10px;
}

.red {
    color: red;
}

.custom-order-form {

}

h2 {
    margin: 10px;
}

input {
    margin-left: 10px;
    width: 50vw;
}
label {
    margin: 10px;
    width: 50vw;
}
textarea {
    margin: 10px;
    width: 50vw;
}

.size-button {
    font-size: 20px;
    padding: 0 10px;
}

.card {
    width: 15vw;
}

.size-selected {
    background-color: black;
    border: 4px black solid;
}

.size-selected:hover {
    background-color: black;
    color: white;
    border: 4px black solid;
}