
a {
    text-decoration: none;
    color:#E5A4A4;
}

main {
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#faq_header{
    margin-top:80px;
    margin-left:80px;
    font-family:"Robot";
    font-size:50px;
    letter-spacing: 2px;
}

.questions{
    margin-left:80px;
    font-family:"Inter";
    font-size:35px;
    color:#A88181;
}

.answers{
    margin-left:80px;
    font-family:"Inter";
    font-size:25px;
    color:#D2B0B0;
}
