.form-button {
  margin-top: 50px;
  font-size: 30px;
  align-self: center;
  width: 10vw;
}

.text-input {
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px #E5A4A4 solid;
  font-size: 20px;
  color: #684747;
  outline: none;
  transition: 200ms ease;
  opacity: .4;
}

.text-input:focus {
  transition: 200ms ease;
  opacity: 1;
}

.tab {
  display: none;
  flex-direction: column;
  width: 100vw;
}

.important-text {
  width: 80vw;
}

.visible {
  display: flex;
  transition: 1s ease-in-out;
}

.status-bar {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.dot {
  margin: 0 5vw;
  background-color: #55B41F;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border:green 1px solid;
}

.status-node {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-bar-text {
  margin: 0;
}