@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
main {
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#mission-statement {
    color:#DFB6B6;
    padding:0;
    margin:150px;
    text-align: left;
    justify-content: center;
    display:block;
    font-weight: medium;
    font-size:30px;
}

#subtitles{
    color:#E5A4A4;;
    margin-left:100px;
    margin-right:100px;
    margin-top:150px;
    font-family:"Robot";
    font-size:50px;
    text-align:center;
    letter-spacing: 2px;
}

#products{
    justify-content: center;
    display:flex;
    gap:20px;
}