@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

@font-face {
    font-family:"Robot";
    src: url("../fonts/Robot_Font.otf");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"Robot";
    src: url("../fonts/Robot_Font.otf");
    font-weight:bold;
    font-style:normal;
}

#name {
    display:inline-block;
    margin-top:60px;
    font-family:"Robot";
    font-size: 60px;
    letter-spacing: 2px;
    padding:0;
    margin-bottom:0px;
    margin-left:50px;
}

body {
    overflow-x: hidden;
    background-color:#FFF8F8;
    color:#E5A4A4;
    padding:0;
    margin:0;
}

#icon{
    width:100px;
    height:100px;
    position:absolute;
    padding-top:16px;
    padding-left:15px;
}

nav {
    font-family:"Inter";
    padding:0;
    margin-top:0;
    display:flex;
    justify-content: flex-start;
    gap:80px;
    margin-left:30px;
}

.hover-text{
    text-decoration: none;
    color:#E5A4A4;
    font-size:30px;
}

.hover-text h1:hover {
    text-decoration: none;
    font-weight: 800;
}

h1 {
    font-size:30px;
}

hr {
    height:6px;
    background-color:#E5A4A4;
    border-radius:0%;
    border-style:none;
    margin-left:0;
    width:90%;

}

main {
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#mission-statement {
    padding:0;
    margin:150px;
    text-align: left;
    justify-content: center;
    display:block;
    font-family:"Inter";
    font-size:30px;
}

#mission{
    margin-left:100px;
    margin-right:100px;
    margin-top:150px;
    font-family:"Robot";
    font-size:50px;
    text-align:center;
    letter-spacing: 2px;
}

footer {

}