@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

@font-face {
    font-family:"Robot";
    src: url("../fonts/Robot_Font.otf");
    font-weight:normal;
    font-style:normal;
}

#name {
  display:inline-block;
  margin-top:60px;
  font-family:"Robot";
  font-size: 60px;
  letter-spacing: 2px;
  padding:0;
  margin-bottom:0px;
  margin-left:50px;
}

body {
  overflow-x: hidden;
  background-color:#FFF8F8;
  color:#E5A4A4;
  padding:0;
  margin:0;
}

#icon{
  width:100px;
  height:100px;
  position:absolute;
  padding-top:16px;
  padding-left:15px;
  user-select: none;
}

nav {
  font-family:"Inter";
  padding:0;
  margin-top:0;
  display:flex;
  justify-content: flex-start;
  gap:80px;
  margin-left:30px;
}

.hover-text{
  text-decoration: none;
  color:#E5A4A4;
  font-size:30px;
  transition: 200ms ease;
  user-select: none;
}

.hover-text:hover {
  text-decoration: none;
  transition: 200ms ease;
  transform: translateY(-5px);
}

h1 {
  font-size:30px;
}

hr {
  height:6px;
  background-color:#E5A4A4;
  border-radius:0%;
  border-style:none;
  margin-left:0;
  width:90%;

}