@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
    font-family:"Robot";
    src: url("../fonts/Robot_Font.otf");
    font-weight:normal;
    font-style:normal;
}

:root {
  font-size: 20px;
}

#name {
  display:inline-block;
  margin-top:60px;
  font-family:"Robot";
  font-size: 4rem;
  letter-spacing: 2px;
  padding:0;
  margin-bottom:0px;
  margin-left:50px;
}

html {
  font-family:"Inter";
}

body {
  overflow-x: hidden;
  background-color:#FFF8F8;
  color:#E5A4A4;
  padding:0;
  margin:0;
}

#icon{
  width:100px;
  height:100px;
  position:absolute;
  padding-top:1rem;
  padding-left:15px;
  user-select: none;
}

nav {
  padding:0;
  padding-left:20px;
  margin-top:0;
  display:flex;
  justify-content: flex-start;
  gap:80px;
  margin-left:30px;
}

.nav-text{
  font-weight:200;
}

.hover-text{
  text-decoration: none;
  color:#E5A4A4;
  font-size:2rem;
  transition: 200ms ease;
  user-select: none;
}

.hover-text:hover {
  text-decoration: none;
  transition: 200ms ease;
  transform: translateY(-5px);
}

h1 {
  font-size:2.5rem;
}

#nav-bar {
  height:6px;
  background-color:#E5A4A4;
  border-radius:0%;
  border-style:none;
  margin-left:0;
  width:80vw;

}

::-webkit-scrollbar-track
{
}


::-webkit-scrollbar
{
	width: 7px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #535050;
}

footer {
  background-color:#F8E2E1;
  height:11vh;
}

footer h1{
  display:inline-block;
  margin-top:3vh;
  margin-left:10px;
  font-family: "Robot";
  font-size:3rem;
  letter-spacing: 2px;
}

footer img{
  display:inline-block;
  width: 75px;
  height: 75px;
  position:relative;
  user-select: none;
}

footer p{
  display:inline-block;
  color:black;
}

button {
  background-color: #E5A4A4;
  color: #FFF8F8;
  border: 4px solid #E5A4A4;
  padding: 10px;
  border-radius: 8px;
  font-size: 2rem;
  transition: 300ms ease;
}

button:hover {
  transition: 300ms ease;
  color: #E5A4A4;
  background-color: #FFF8F8;
  cursor: pointer;
}

@media (max-width: 1440px) {

  :root {
    font-size: 10px;
  }
}