#subtitle{
  color:#E5A4A4;;
  margin-left:11vw;
  margin-top:80px;
  font-family:"Robot";
  font-size:50px;
  text-align:left;
  letter-spacing: 2px;
}

#products{
  margin-left:10vw;
  justify-content: left;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:20px;
}

#shopBar{
  background-color:#E5A4A4;
  height:2px;
  border-radius:0%;
  border-style:none;
  width:78%;
  margin-top:1vh;
  margin-bottom:3vh;

}

#filter{
  float:right;
  margin-bottom:2vh;
  margin-right:10vw;
  margin-left:100%;
}